<div class="display-reloj">
    <div class="seven-segment-display">
      <!-- Display para las Horas -->
      <div class="digit" *ngFor="let digit of getDigits(currentTime.getHours())">
        <div class="segment segment-a" [class.active]="digit.segments.a"></div>
        <div class="segment segment-b" [class.active]="digit.segments.b"></div>
        <div class="segment segment-c" [class.active]="digit.segments.c"></div>
        <div class="segment segment-d" [class.active]="digit.segments.d"></div>
        <div class="segment segment-e" [class.active]="digit.segments.e"></div>
        <div class="segment segment-f" [class.active]="digit.segments.f"></div>
        <div class="segment segment-g" [class.active]="digit.segments.g"></div>
      </div>
  
      <!-- Display para los Minutos -->
      <div class="digit" *ngFor="let digit of getDigits(currentTime.getMinutes())">
        <div class="segment segment-a" [class.active]="digit.segments.a"></div>
        <div class="segment segment-b" [class.active]="digit.segments.b"></div>
        <div class="segment segment-c" [class.active]="digit.segments.c"></div>
        <div class="segment segment-d" [class.active]="digit.segments.d"></div>
        <div class="segment segment-e" [class.active]="digit.segments.e"></div>
        <div class="segment segment-f" [class.active]="digit.segments.f"></div>
        <div class="segment segment-g" [class.active]="digit.segments.g"></div>
      </div>
  
      <!-- Display para los Segundos -->
      <div class="digit" *ngFor="let digit of getDigits(currentTime.getSeconds())">
        <div class="segment segment-a" [class.active]="digit.segments.a"></div>
        <div class="segment segment-b" [class.active]="digit.segments.b"></div>
        <div class="segment segment-c" [class.active]="digit.segments.c"></div>
        <div class="segment segment-d" [class.active]="digit.segments.d"></div>
        <div class="segment segment-e" [class.active]="digit.segments.e"></div>
        <div class="segment segment-f" [class.active]="digit.segments.f"></div>
        <div class="segment segment-g" [class.active]="digit.segments.g"></div>
      </div>
    </div>
    
    <!-- Slider para ajustar el tiempo -->
    <input type="range" min="-60" max="60" [(ngModel)]="offsetMinutes" (ngModelChange)="changeTime($event)">
  </div>
  