<div class="barra-reloj">
    <h2>Reloj de Barras</h2>
  
    <!-- Barras -->
    <div class="barra-container">
      <div class="barra-item">
        <div class="barra" [ngStyle]="getHourLevelStyle()"></div>
        <span class="percentage">{{ hourLevel | number: '1.0-0' }}%</span>
      </div>
      <div class="barra-item">
        <div class="barra" [ngStyle]="getMinuteLevelStyle()"></div>
        <span class="percentage">{{ minuteLevel | number: '1.0-0' }}%</span>
      </div>
      <div class="barra-item">
        <div class="barra" [ngStyle]="getSecondLevelStyle()"></div>
        <span class="percentage">{{ secondLevel | number: '1.0-0' }}%</span>
      </div>
    </div>
  
    <p class="hora">{{ currentTime.toLocaleTimeString() }}</p>
    
    <!-- Control de minutos -->
    <input type="range" min="-60" max="60" [(ngModel)]="offsetMinutes" (ngModelChange)="changeTime($event)">
    <p>Ajuste de minutos: {{ offsetMinutes }}</p>
</div>
