<nav>
  <ul>
    <li>
      <button 
        [class.active]="isRouteActive('/reloj/simple')" 
        (click)="navigateTo('/reloj/simple')">
        Reloj Simple
      </button>
    </li>
    <li>
      <button 
        [class.active]="isRouteActive('/reloj/espiral')" 
        (click)="navigateTo('/reloj/espiral')">
        Reloj Espiral
      </button>
    </li>
    <li>
      <button 
        [class.active]="isRouteActive('/reloj/sol')" 
        (click)="navigateTo('/reloj/sol')">
        Reloj Solar
      </button>
    </li>
    <li>
      <button 
        [class.active]="isRouteActive('/reloj/analogico')" 
        (click)="navigateTo('/reloj/analogico')">
        Reloj Analogico
      </button>
    </li>
    <li>
      <button 
        [class.active]="isRouteActive('/reloj/barra')" 
        (click)="navigateTo('/reloj/barra')">
        Reloj Barra
      </button>
    </li>
  </ul>
</nav>
